.theme-light {
	// primary
	--primary-color: #212729;
	--primary-bg: #e4e6e7;
	--primary-accent: #b5dce7;

	// secondary 
	--secondary-color: var(--primary-bg);
	--secondary-bg: var(--primary-color);
	--secondary-accent: #3fa7a7;

	// tertiary 
	--tertiary-color: var(--secondary-color);
	--tertiary-bg: #c6d1d1;
	--tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent))
}

.theme-dark {
	// primary
	--primary-color: #212729;
	--primary-bg: #e4e6e7;
	--primary-accent: #b5dce7;

	// secondary 
	--secondary-color: var(--primary-bg);
	--secondary-bg: var(--primary-color);
	--secondary-accent: #3fa7a7;

	// tertiary 
	--tertiary-color: var(--secondary-color);
	--tertiary-bg: #c6d1d1;
	--tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent))
}

.theme-raspberry {
	// primary
	--primary-color: #212729;
	--primary-bg: #660f2e;
	--primary-accent: #ff5ca8;

	// secondary 
	--secondary-color: var(--primary-bg);
	--secondary-bg: var(--primary-color);
	--secondary-accent: #3fa7a7;

	// tertiary 
	--tertiary-color: var(--secondary-color);
	--tertiary-bg: #c6d1d1;
	--tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent))
}

.theme-cherry-blossom {
	// primary
	--primary-color: #212729;
	--primary-bg: #e7e4e5;
	--primary-accent: #ff4fb6;

	// secondary 
	--secondary-color: var(--primary-bg);
	--secondary-bg: var(--primary-color);
	--secondary-accent: #a73f84;

	// tertiary 
	--tertiary-color: var(--secondary-color);
	--tertiary-bg: #d1c6d1;
	--tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
}