@use 'sass:color';

.theme-light {
	// primary
	--primary-color: #212729;
	--primary-bg: #e4e6e7;
	--primary-accent: #b5dce7;

	// secondary 
	--secondary-color: var(--primary-bg);
	--secondary-bg: var(--primary-color);
	--secondary-accent: #3fa7a7;

	// tertiary 
	--tertiary-color: var(--secondary-color);
	--tertiary-bg: #c6d1d1;
	--tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent))
}

.theme-dark {
	$base-light:  #e4e6e7;
	// primary
	--primary-color: #{$base-light};
	--primary-bg: #212729;;
	--primary-accent: #317486;

	// secondary 
	--secondary-color: var(--primary-bg);
	--secondary-bg: #{color.scale($base-light, $lightness: -20%, $saturation: -20%)};
	--secondary-accent: #408b8b;

	// tertiary 
	--tertiary-color: var(--secondary-color);
	--tertiary-bg: #c6d1d1;
	--tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent))
}

.theme-raspberry {
	$base-accent: #d32274;
	

	// primary
	--primary-color: #dbd2d4;
	--primary-bg: #19030b;
	--primary-accent: #{$base-accent};

	// secondary 
	--secondary-color: #white;
	--secondary-bg: #4d1126;
	--secondary-accent: #ea799f;

	// tertiary 
	--tertiary-color: var(--secondary-color);
	--tertiary-bg: #c16382b0;
	--tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent))
}

.theme-cherry-blossom {
	$base-accent:  hotpink;

	// primary
	--primary-color: #212729;
	--primary-bg: #fff;
	--primary-accent: #{$base-accent};

	// secondary 
	--secondary-color: #{color.scale($base-accent, $lightness: -70%, $saturation: -50%)};
	--secondary-bg: #{color.scale($base-accent, $lightness: 70%, $saturation: -30%)};
	--secondary-accent: #{$base-accent};

	// tertiary 
	--tertiary-color: var(--secondary-color);
	--tertiary-bg: #d1c6d1;
	--tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
}