@import "/css/style.css";

main h1 {
	font-family: var(--header-font);
	font-style: italic;
	font-size: 2.5em;
	/* text-decoration: underline 2px solid; */
}

main h1 {
	opacity: 0.75;
	transition-property: opacity;
}

main {
	width: 80%;
	font-size: 1.3em;
}



/* gallery */

/* Define the breakpoints as variables in SCSS */
/* @media (min-width: 768px) {
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.gallery {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1440px) {
	.gallery {
		grid-template-columns: repeat(6, 1fr);
	}
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	padding: 5px;
	transition: 0.3s;
}

.gallery:hover .gallery__image {
	filter: grayscale(0.7);
}


.gallery__image:hover {
	filter: grayscale(0) !important;
	transform: scale(1.1);
}

.gallery__thumb {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.gallery__image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s;
}

.gallery__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px 15px 15px;
	width: 100%;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	color: white;
	opacity: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
	transition: 0.3s;
} */

