*:root {
	--element-width: 70%
}

[data-theme="main"] {
	--main: rgb(166, 161, 233);
	--mainop: rgba(84, 67, 111, 0.57);
	--main2: rgb(147, 110, 255);
	--main3:#523376;
	--highlight: rgb(218, 118, 118);
	--hicon: black;
	--hicon-op:rgba(0, 0, 0, 0.8);
	--navbar: #534e94;
	--nav-text: black;
	--nav-text-hover:rgb(169, 184, 231);
	--navborder: #311e417c;
	--navhover: #373869;
	--link: rgb(41, 25, 48);
	--subtle-shadow: rgba(53, 43, 54, 0.274);

}
  
[data-theme="dark"] {
	--main: rgb(10, 9, 10);
	--main2: rgb(30, 32, 32);
	--main3:#3f3e41;
	--mainlight: rgb(218, 118, 118);
	--hicon: rgb(192, 189, 189);
	--hicon-op:rgba(53, 49, 49, 0.8);
	--navbar: #545258;
	--nav-text: black;
	--nav-text-hover:rgb(169, 184, 231);
	--navborder: #332d387c;
	--navhover: #3f3944;
	--link: rgb(41, 25, 48);
}
[data-theme="xmas"] {
	--main: #94161e;
	--main2: #226F54;
	--main3:#91021B;
	--mainlight: rgb(218, 118, 118);
	--hicon: rgb(192, 189, 189);
	--hicon-op:rgba(53, 49, 49, 0.8);
	--navbar: var(--main2);
	--nav-text: black;
	--nav-text-hover:rgb(169, 184, 231);
	--navborder: #332d387c;
	--navhover: #3f3944;
	--link: rgb(41, 25, 48);

}
  
body {
	background-color: var(--main);
	font-family:'arial';
	color: var(--hicon);
	font-size: 40px;
	margin: auto;
	padding: 0;
	width: 90%;
	overflow: scroll;
}

header {
	display: flex;
	height: 7vw;
	text-align: center;
	flex-direction: row;
	background-color: var(--main2);
	font-family: 'helvetica';
	box-shadow: 0px 10px 9px var(--subtle-shadow);
}
header p {
	/* margin: auto; */
	flex-grow:1;
}

header a .fa{
	height: 70%;
	font-size: 100%;
}
header a {
	flex-grow: 0;
}
p {
	color: var(--hicon);
	background-color: transparent;
	text-decoration: none;
}

h2{
	display:block;
	font-size: 50%;
	background-color: var(--main2);
	margin: auto;
	border-style: none;
	height: auto;
	box-sizing: border-box;
	width: var(--element-width);
	text-align: center;
}

.link {
	color: var(--link);
	background-color: transparent;
}



.homebutton {
	color:var(--hicon);
	background-color: transparent;

}


nav {
	z-index: 98;
	position: sticky;
	top: 0;
	margin: 3% 0% 3%;
	padding: 0;
	overflow: hidden;
	background-color: var(--navbar);
}
nav :first-child {
	list-style-type: none;
	float: left;
  	color: var(--hicon);
}

nav :last-child{
	border-right: none;
}
nav a {
	list-style-type: none;
	border-right: 1px solid var(--navborder);
	float: left;
  	color: var(--hicon);
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 14px; 
}
nav a:hover {
	z-index: -2;
	color: var(--nav-text-hover);
	background-color: var(--navhover);
}

.options :hover {
	color: rgba(151, 58, 58, 0.7);
	cursor: pointer;
}
#theme-button {
	display:block;
	font-size: 50%;
	background-color: var(--main2);
	width:var(--element-width);
	margin-right: 15%;
	margin-left: 15%;
	margin-bottom: 5px;
	height: 50px;
	padding: 4px;
	border-style: none;
}
.theme-options {
	padding-left: 15%;
	padding-right: auto;
	height: auto;
	display: block;
	margin: auto;
}
.modal {
	background-color: var(--hicon-op);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	padding:auto;
	/* padding-top: 40vmin; */
	display: none;
}
.modal-content {
	background-color: var(--main);
	margin: auto;
	height: max-content;
	padding: 20px;
	padding-left: 1px;
	width: 40%;
}

.close {
	border-width: 13px;
	font-size: 50px;
	margin-top:0px;
	float: right;
	margin-right: 14px;
}
.close:hover,focus {
	color: rgb(0,0,0,0.3);
	cursor: pointer;
}




.highlight {
	background-color: var(--highlight);
}



/* gallery stuff */
.gallery {
	margin: auto;
	margin-top: 0.6%;
	margin-bottom: 0.6%;
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	place-items: center;
	height: 1%;
	width: var(--element-width);
}
  
.gallery div {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--mainop);
}

.gallery img {
	object-fit: contain;
	flex-grow: 1;
	max-width: 100%;
	max-height: 100%;
}

.gallery div p {
	display: block;
	flex-grow: 0;
	/* max-height: 5%; */
	text-align: center;
	margin:0;
	padding:0
}

