[data-theme="main"] {
	--main-font: "Josefin Sans";
	--main-bg-color: #160C28;
	--main-font-color: white;
	--secondary-bg-color: #331e36;
	--secondary-font: "Poppins";
	--secondary-font-color: rgb(214, 211, 214);
	--nav-color: #65658062;
	--emphasis: #ff8a8a;
	--mild-emphasis: #ffacac;
	--accent-color: #EFCB68;
	--footer-bg-color: var(--accent-color);
	--secondary-heading-color: var(--accent-color);
	--button-bg-color: var(--accent-color);
	--footer-color: rgb(20, 6, 22);
	--button-color: rgb(20,6,22);
	--link-hover: #7c0034;
	--modal-card-bg-color: #331e36;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--main-bg-color);
	font-family: var(--main-font);
	color: var(--main-font-color);
	font-size: 1rem;
	overflow: scroll;
}

nav {
	position: fixed;
	z-index: 97;
	top: 0;
	left:0;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #ffffff1e;
	background-image: linear-gradient(rgba(32, 30, 32, 0.397),), rgba(2, 2, 2, 0);
	font-weight: 400;
	font-size: var(--nav-font-size);
	backdrop-filter: blur(3px) saturate(140%);
}

.main-links {
	display: flex;
}

.main-links a {
	display: block;
	padding: 1rem; 
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	flex-grow: 5;
	color: var(--main-font-color);
}
.main-links a:hover {
	backdrop-filter: blur(4px) saturate(80%) brightness(1.3);
	background-color: var(--nav-color);
	background-image: linear-gradient(rgba(71, 71, 71, 0.329), rgba(2, 2, 2, 0));

}

/* hero */
.hero {
	box-sizing:border-box;
	position: relative;
	overflow: hidden;
	z-index: 4;
	height: 100%;
	padding: 17% 5% 5%;
	margin: 0;
	font-size: 1.8rem;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#home-hero {
	background-image: radial-gradient(circle,rgba(109, 69, 96, 0.7), rgba(30, 34, 70, 0.7)), url("assets/main\ hero\ image.jpg");
}

#art-hero {
	background-image: radial-gradient(rgba(255, 105, 5, 0.349) 0%, rgba(82, 1, 31, 0.705) 50%,rgb(22, 0, 14) 90%), url("assets/art/landscape/oil.png");
}
/*TODO: try to add blur to the background image, either by seperating it, by using 
psuedo elemtents, or by using some sort of backdrop filter  */

.hero-wrapper {
	background-color: rgba(0,0,0,0.3)
}

.hero h1 {
	font-weight: 700;
	font-size: 3.7rem;
	font-family: var(--main-font);
	text-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}

.hero p {
	display: block;
	font-weight: 500;
	font-size: 2.3rem;
	width: 90%;
}

.hero-content {
	width: 50%;
}

.hero-links {
	display: flex;
	flex-direction: row;
	font-weight:200;
}

.link-button {
	text-align: center;
	margin: 0 4rem;
	padding: 0.5rem 0.7rem;
	display: block;
	color: var(--button-color);
	background-color: var(--button-bg-color);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	text-decoration: none;
}


span.emphasis {
	font-size: larger;
	color: var(--emphasis);
	text-shadow: 2px 2px 6px#160C28;
}
span.mild-emphasis {
	color: var(--mild-emphasis);
}

.header {
	text-align: center;
	margin: auto;
	padding: 8% 0;	
	
	--size: 34px; /* control the size (the circle diameter) */
	--yellow: #ECBE13;
	--teal: #309292;
	--pink: #ff2faf;
	--c4: #f7623d;
	--main-gradient: radial-gradient(calc(var(--size)/2),var(--yellow) 97%,#0000);
	--x-offset: 0px;
	--y-offset: 0px;
	--gradient-1-x: (2*var(--size));
	--gradient-1-y: (2*var(--size));
	
	background:
		var(--main-gradient),
		var(--main-gradient) calc(var(--gradient-1-x) + var(--x-offset)) calc(var(--gradient-1-y) + var(--y-offset)),

		repeating-conic-gradient(
			from 45deg,
			#0000 0 25%,var(--pink) 0 50%
		) calc(-.707*var(--size)) calc(-.707*var(--size)),

		repeating-linear-gradient(
			135deg,
			var(--teal) calc(var(--size)/-2) calc(var(--size)/2),
			var(--c4) 0 calc(2.328*var(--size))
		);


	background-size: calc(4*var(--size)) calc(4*var(--size));
	/* 
		0.707 = sqrt(2)/2
		2.328 = 2*sqrt(2) - .5
		*/
	  

	background-attachment: fixed;	  
}

.primary-section, .secondary-section, .blog-section {
	text-align: center;
	margin: auto;
	padding: 5% 0 2%;
	width: 80%;
}

.primary-section-wrapper, .secondary-section-wrapper {
	display: flex;
	flex-direction: row;
}

/* .blog-section-wrapper {

} */

.primary-section-text {
	font-size: 1.4rem;
	text-align: center;
	flex-grow: 0;
	padding: 2rem
}

.header h1{
	color: var(--secondary-heading-color);
}

.blog-section-wrapper, .secondary-section-wrapper{
	background-color: var(--secondary-bg-color);
	color: var(--secondary-font-color)
}

footer {
	box-sizing:border-box;
	background-color: var(--footer-bg-color);
	padding: 6% 0;
	color: var(--footer-color);
	text-align: center;
}

footer .logo {
	font-size: 4rem;
}

.footer-links {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.footer-links a {
	display: block;
	padding: 0 1rem;
	color: var(--footer-color);
	border-right: 2px solid var(--footer-color)
}

.footer-links a:last-child{
	border: none;
}

.footer-links a:hover {
	color: var(--link-hover)
}

/* Media Queries */



/* Phones */
@media screen and (max-width: 700px) {
	body {
		font-size: 3rem;
		height: 100vh;
	}
	nav {
		justify-content: center;
		background-color: #00000000;
		background-image: linear-gradient(rgb(32, 30, 32), rgb(32, 30, 32), rgba(2, 2, 2, 0));
	}
	.main-links{
		justify-content: center;
		flex-grow: 2;
	}
	.main-links a{
		padding: 10% 3%;
		color: var(--main-font-color);
	}
	.main-links a:hover {
		backdrop-filter: none;
		background-color: var(--nav-color);
		background-image: none;

	}
	.hero h1{
		font-size: 12rem;
	}

	.hero p {
		display: block;
		font-weight: 500;
		font-size: 5.3rem;
		width: 100%;
	}
	
	.hero-content {
		margin: auto;
		width: 100%;
	}

	.hero-links {
		justify-content: center;
		font-size: 3rem;
	}

	.hero {
		background-attachment: scroll;
		background-image: radial-gradient(circle,rgba(109, 69, 96, 0.9), rgba(30, 34, 70, 0.9)), url("assets/IMG_20221208_074608_330.jpg");
		text-align: center;
		padding: 25% 5% 5%;
	}

	.header {
		background-image: radial-gradient(circle, #4d0446, var(--main-bg-color));
		padding: 24% 0;
	}

	.primary-section{
		background-color: var(--main-bg-color);
		padding: 24% 0;
	}

	.secondary-section{
		background-color: var(--secondary-bg-color);
		padding: 24% 0;	
	}
}

/* GALLERY */

.gallery {
	width: 70vw;
	margin:auto;
	padding: 3rem;
}

.gallery-grid {
	display: grid;
	width: 100%;
	/* background-color: #fff5; */
	grid-template-columns: auto auto auto auto;
	gap: 2rem 2rem;
}

.gallery img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: filter 0.2s ease-out, transform 0.3s ease-out;
	filter: sepia(10%) saturate(80%)
}

.gallery img:hover{
	filter:sepia(0%) saturate(90%);
	transform: scale(1.05);
}

.gallery h1 {
	text-align: left;
}

#landscape-gallery {
	display: none;
}

#jellyfish-image {
	object-position: 30% 100%;
}

#modal {
	display: block;
	position: fixed;
	z-index: 99; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0);
	transition: all 5s;
}

#modal.darkened-modal {
	backdrop-filter: blur(5px) saturate(40%);
	background-color: rgba(0, 0, 0, 0.486);	
}

#modal.closed {
	display: none;
}

#modal-content {
	display: flex;
	flex-direction: row;;
	margin: 2% auto;
	padding: 2%;
	background-color: var(--modal-card-bg-color);
	box-shadow: 0px 0px 22px rgba(0,0,0,0.7);
	width: 80%;
	height: 80%;
}

#modal-content img {
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.modal-head {
	display: flex;
	flex-direction: row;
	width: 100%
}

.modal-close-button {
	display: block;
	margin: 0;
	color: #aaa;
	font-size: 28px;
	font-weight: bold;

}

#modal-text {
	flex-grow: 0.9;
	padding: 0 3%;
}

#modal-text-header {
	margin: 1% 0;
	flex-grow: 2;
}

#modal-description {
	font-size: x-large;
}

span.person {
	text-align: right;
}