@font-face {
	font-family: mainFont;
	src: url("assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf");
	font-weight: 400;
}
@font-face {
	font-family: mainFont;
	src: url("assets/fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: mainFont;
	src: url("assets/fonts/Josefin_Sans/static/JosefinSans-Light.ttf");
	font-weight: 300;
}

[data-theme="main"] {
	--main-font: mainFont;
	--main-bg-color: #160C28;
	--main-font-color: white;
	--secondary-bg-color: #331e36;
	--secondary-font: "Poppins";
	--secondary-font-color: rgb(214, 211, 214);
	--nav-color: #65658062;
	--emphasis: #ff8a8a;
	--mild-emphasis: #ffacac;
	--accent-color: #EFCB68;
	--footer-bg-color: var(--accent-color);
	--secondary-heading-color: var(--accent-color);
	--button-bg-color: var(--accent-color);
	--footer-color: rgb(20, 6, 22);
	--button-color: rgb(20,6,22);
	--link-hover: #7c0034;
	--modal-card-bg-color: #331e36;
	--bold: 600;
	--medium: 400;
	--light: 300;
}

[data-theme="maths"] {
	--main-font: mainFont;
	--main-bg-color: #0a4752;
	--main-font-color: white;
	--secondary-bg-color: #0218358f;
	--secondary-font: "Poppins";
	--secondary-font-color: rgb(214, 211, 214);
	--nav-color: #65658062;
	--emphasis: #ff8a8a;
	--mild-emphasis: #ffacac;
	--accent-color: #297c6a;
	--footer-bg-color: var(--accent-color);
	--secondary-heading-color: var(--accent-color);
	--button-bg-color: var(--accent-color);
	--footer-color: rgb(20, 6, 22);
	--button-color: rgb(20,6,22);
	--link-hover: #7c0034;
	--maths-card-bg-color: #99d6e046;
	--bold: 600;
	--medium: 400;
	--light: 300;
}



body {
	padding: 0;
	margin: 0;
	background-color: var(--main-bg-color);
	font-family: var(--main-font);
	color: var(--main-font-color);
	font-size: 1rem;
	overflow: scroll;
}

nav {
	position: fixed;
	z-index: 97;
	top: 0;
	left:0;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #ffffff1e;
	background-image: linear-gradient(rgba(32, 30, 32, 0.397),), rgba(2, 2, 2, 0);
	font-weight: var(--medium);
	font-size: var(--nav-font-size);
	backdrop-filter: blur(3px) saturate(80%);
}

.main-links {
	display: flex;
}

.main-links a {
	display: block;
	padding: 1rem; 
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	flex-grow: 5;
	color: var(--main-font-color);
}
.main-links a:hover {
	backdrop-filter: blur(4px) saturate(80%) brightness(1.3);
	background-color: var(--nav-color);
	background-image: linear-gradient(rgba(71, 71, 71, 0.329), rgba(2, 2, 2, 0));

}

section {
	position: relative;
}


.hero {
	box-sizing:border-box;
	position: relative;
	overflow: hidden;
	z-index: 4;
	height: 100%;
	padding: 17% 5% 5%;
	margin: 0;
	font-size: 1.8rem;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#home-hero {
	background-image: radial-gradient(circle,rgba(109, 69, 96, 0.7), rgba(30, 34, 70, 0.7)), url("assets/main\ hero\ image.jpg");
}

#math-hero {
	background-image: radial-gradient(circle,rgba(69, 104, 109, 0.5), rgba(0, 5, 10, 0.5)), url("https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fGFic3RyYWN0fGVufDB8MHwwfHx8MA%3D%3D");
	background-position: 0% 40%;
	background-size: 120%;
}

#art-hero {
	background-image: radial-gradient(rgba(255, 105, 5, 0.349) 0%, rgba(82, 1, 31, 0.705) 50%,rgb(22, 0, 14) 90%), url("assets/art/landscape/oil.png");
}
/*TODO: try to add blur to the background image, either by seperating it, by using 
psuedo elemtents, or by using some sort of backdrop filter  */

.hero-wrapper {
	background-color: rgba(0,0,0,0.3);
}

.hero h1 {
	font-weight: var(--bold);
	font-size: 3.7rem;
	font-family: var(--main-font);
	text-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}

.hero p {
	display: block;
	font-weight: var(--bold);
	font-size: 2.3rem;
	width: 90%;
}

.hero-content {
	width: 50%;
}

.hero-links {
	display: flex;
	flex-direction: row;
	font-weight: var(--medium);
}

.link-button {
	text-align: center;
	margin: 0 4rem;
	padding: 0.5rem 0.7rem;
	display: block;
	color: var(--button-color);
	background-color: var(--button-bg-color);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	text-decoration: none;
}


span.emphasis {
	color: var(--emphasis);
}
span.mild-emphasis {
	color: var(--mild-emphasis);
}

.header {
	text-align: center;
	margin: auto;
	padding: 8% 0;	

	--background-offset: 100vw;
	background-image: 
	repeating-linear-gradient(
		45deg,
		rgba(138, 29, 111, 0.678) 0rem 7rem,
		rgb(50, 20, 78) 7rem 8rem
	),
	radial-gradient(
		rgba(0,0,0,1),rgba(255, 255, 255, 0)
	);
	background-position: var(--background-offset);
	background-attachment: fixed;
	background-size: 500% 100%;	  
}

/* nav + .header {
	background-image: 
    repeating-linear-gradient(
    	-45deg, 
		, 
    	1rem,
      #ccc 1rem,
      #ccc 2rem
    );
	background-size: 200% 200%;
	animation: barberpole 10s linear infinite;
} */

.primary-section, .secondary-section, .blog-section{
	text-align: center;
	margin: auto;
	padding: 5% 0%;
	width: 100%;
	display: flex;
	flex-direction: column;
}



.primary-section p {
	font-size: 1.6rem;
}

.primary-section h1{
	font-size: 3rem;
	margin: 0;
}

.primary-section:nth-child(even){
	background-color: var(--secondary-bg-color);
	backdrop-filter: blur(10px);
}

#decorated-section .secondary-section {
	padding: 7% 0 7% 
}

.primary-section-wrapper, .secondary-section-wrapper {
	display: flex;
	flex-direction: column;
}

.primary-section-text {
	font-size: 1.4rem;
	text-align: center;
	flex-grow: 0;
	padding: 2rem
}

.header h1{
	color: var(--secondary-heading-color);
}

.blog-section-wrapper, .secondary-section-wrapper{
	background-color: var(--secondary-bg-color);
	color: var(--secondary-font-color)
}

.gallery-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.gallery-divider svg {
    position: relative;
    display: block;
    width: calc(300% + 300px);
    height: 8vh;
    transform: rotateY(180deg);
}

.gallery-divider .shape-fill {
    fill: var(--main-bg-color);
}
footer {
	box-sizing:border-box;
	background-color: var(--footer-bg-color);
	padding: 6% 0;
	color: var(--footer-color);
	text-align: center;
}

footer .logo {
	font-size: 4rem;
}

.footer-links {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.footer-links a {
	display: block;
	padding: 0 1rem;
	color: var(--footer-color);
	border-right: 2px solid var(--footer-color)
}

.footer-links a:last-child{
	border: none;
}

.footer-links a:hover {
	color: var(--link-hover)
}

/* Media Queries */



/* Phones */
@media screen and (max-width: 700px) {
	body {
		font-size: 3rem;
		height: 100vh;
	}
	nav {
		justify-content: center;
		background-color: #00000000;
		background-image: linear-gradient(rgb(32, 30, 32), rgb(32, 30, 32), rgba(2, 2, 2, 0));
	}
	.main-links{
		justify-content: center;
		flex-grow: 2;
	}
	.main-links a{
		padding: 10% 3%;
		color: var(--main-font-color);
	}
	.main-links a:hover {
		backdrop-filter: none;
		background-color: var(--nav-color);
		background-image: none;

	}
	.hero h1{
		font-size: 12rem;
	}

	.hero p {
		display: block;
		font-weight: var(--medium);
		font-size: 5.3rem;
		width: 100%;
	}
	
	.hero-content {
		margin: auto;
		width: 100%;
	}

	.hero-links {
		justify-content: center;
		font-size: 3rem;
	}

	.hero {
		background-attachment: scroll;
		background-image: radial-gradient(circle,rgba(109, 69, 96, 0.9), rgba(30, 34, 70, 0.9)), url("assets/IMG_20221208_074608_330.jpg");
		text-align: center;
		padding: 25% 5% 5%;
	}

	.header {
		background-image: radial-gradient(circle, #4d0446, var(--main-bg-color));
		padding: 24% 0;
	}

	.primary-section{
		background-color: var(--main-bg-color);
		padding: 24% 0;
	}

	.secondary-section{
		background-color: var(--secondary-bg-color);
		padding: 24% 0;	
	}


}

/* GALLERY */

.gallery {
	width: 60vw;
	margin:auto;
	padding: 3rem;
}

.gallery-grid {
	display: grid;
	width: 100%;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
	gap: 2rem 2rem;
}

.gallery img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.3s ease-out;
	filter: sepia(10%) saturate(90%);
}

.gallery img:hover{
	filter: sepia(0%) saturate(90%);
	transform: scale(1.05);
	box-shadow: 0px 0px 42px rgb(0, 0, 0);
}

.gallery h1 {
	font-size: 4rem;
	text-align: left;
}

#landscape-gallery {
	display: none;
}

#jellyfish-image {
	object-position: 30% 100%;
}

#modal {
	display: block;
	position: fixed;
	z-index: 99; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: #0000;
	backdrop-filter: blur(0px) saturate(100%);
	transition: background-color 0.4s ease-in, backdrop-filter 0.3s, height 0s linear 0s ;
}

#modal.darkened-modal {
	transition: background-color 0.3s ease-out, backdrop-filter 0.3s, height 0s linear 0s ;
	backdrop-filter: blur(15px) saturate(20%);
	background-color: rgba(0, 0, 0, 0.3);	
}

#modal.closed {
	height: 0;
	transition: background-color 0.3s ease-in, backdrop-filter 0.3s, height 0s linear 0.3s ;
}

#modal-content {
	display: flex;
	position: relative;
	flex-direction: row;;
	margin: 2% auto;
	padding: 2%;
	background-color: var(--modal-card-bg-color);
	box-shadow: 0px 0px 22px rgba(0,0,0,0.7);
	width: 60%;
	height: 80%;
	filter:opacity(100%);
	translate: 0 0;
	transition: filter 0.2s ease-in, translate 0.2s;
}

#modal-content.closed{
	filter: opacity(0);
	translate: 0 20vh;
	transition: filter 0.2s ease-out, translate 0.2s;
}

#modal-content img {
	height: 100%;
	object-fit: contain;
	object-position: center;
	box-shadow: 0px 0px 22px rgba(0,0,0,0.7);
}

.modal-close-button {
	position:absolute;
	top:0;
	right:0;
	margin: 0 2%;
	height: max-content;
	border: none;
	color: rgba(255, 255, 255, 0.575);
	background-color: #0000;
	font-size: 60px;
	font-weight: var(--bold);
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.modal-close-button:hover{
	color: #fff
}

#modal-text {
	flex-grow: 0.9;
	padding: 0 3%;
}

#modal-text-header {
	font-weight: var(--bold);
	color: hsl(from var(--main-font-color) h s calc(l - 20%));
	margin: 5% 0;
}

#modal-description {
	font-weight: var(--light);
	font-size: 2.4rem;
}

#modal-description .smaller{
	font-size: 1.5rem;
}

span.person {
	text-align: right;
}

.blog-list {
	display: grid;
	width: 50%;
	grid-template-columns: auto auto auto;
	grid-template-rows: 100%;
	gap: 2rem;
	align-content: center;
	justify-content: center;
	margin: auto;
}

#maths-section::before, #maths-section::after{
	content: '';
	background-color: #8bcddd63;
	width: 60%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	position: absolute;
	bottom: 30%;
	right: 60%;
	z-index: -1
}

#maths-section::after{
	bottom: 80%;
	left: 70%;
}

.blog-list>div {
	display: flex;
	flex-direction: column;
	background-color: var(--maths-card-bg-color);
	align-items: center;
	padding: 0.5rem;
	height: 100%;
	box-sizing: border-box;
	border-radius: 15%;
	overflow: hidden;
	box-shadow: 6px 6px 2px #00000054;
	backdrop-filter: blur(5px);
}

.blog-list>div>img {
	width: 100%;
	height: 80%;
	object-fit: cover;
	object-position: center;
	border-radius: 15%;
}

.blog-list>div>h1 {
	font-size: 1.2rem;
	margin: 5% 0
	/* might change this from h1s to a text div with heading and p */
}