[data-theme="main"] {
	--main-font: "Josefin Sans";
	--main-bg-color: #160C28;
	--main-font-color: white;
	--secondary-bg-color: #EFCB68;
	--secondary-font: "Poppins";
	--secondary-font-color: rgb(20, 6, 22);
	--nav-color: #65658062;
	--emphasis: #ff8a8a;
	--footer-color: var(--secondary-bg-color);
	--link-hover: #7c0034;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--main-bg-color);
	font-family: var(--main-font);
	color: var(--main-font-color);
	font-size: medium;
	overflow: scroll;
}

nav {
	position: fixed;
	z-index: 99;
	top: 0;
	left:0;
	width: 100%;
	display: flex;
	flex-direction: row;
	/* background-color: var(--nav-color); */
	background-image: linear-gradient(rgba(32, 30, 32, 0.397),), rgba(2, 2, 2, 0);
	font-weight: 400;
	font-size: var(--nav-font-size);
	backdrop-filter: blur(3px);
}

.main-links {
	display: flex;
}

.main-links a {
	display: block;
	padding: 1rem; 
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	flex-grow: 5;
	color: var(--main-font-color);
	transition: background-color 0.3s, backdrop-filter 0.3s, background-image 0.3s;
	transition-timing-function: ease-out;
}
.main-links a:hover {
	backdrop-filter: blur(4px) saturate(80%) brightness(1.3);
	background-color: var(--nav-color);
	background-image: linear-gradient(rgba(71, 71, 71, 0.329), rgba(2, 2, 2, 0));

}

/* hero */
.hero {
	box-sizing:border-box;
	position: relative;
	overflow: hidden;
	z-index: 4;
	height: 100%;
	padding: 7% 5% 5%;
	margin: 0;
	font-size: 1.8rem;
	background-image: radial-gradient(circle,rgba(109, 69, 96, 0.7), rgba(30, 34, 70, 0.7)), url("assets/IMG_20221208_074608_330.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*TODO: try to add blur to the background image, either by seperating it, by using 
psuedo elemtents, or by using some sort of backdrop filter  */

.hero-wrapper {
	background-color: rgba(0,0,0,0.3)
}

.hero h1 {
	font-weight: 700;
	font-size: 3.7rem;
	font-family: var(--main-font);
	text-shadow: 2px 2px 20px rgba(0,0,0,0.3);
}

.hero p {
	display: block;
	font-weight: 500;
	font-size: 2.3rem;
	width: 90%;
}

.hero-content {
	width: 50%;
}

.hero-links {
	display: flex;
	flex-direction: row;
	font-weight:200;
}

.link-button {
	margin: 0 4rem;
	padding: 0.5rem 0.7rem;
	display: block;
	color: var(--secondary-font-color);
	background-color: var(--secondary-bg-color);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}


span.emphasis {
	font-size: larger;
	color: var(--emphasis);
	text-shadow: 2px 2px 6px#160C28;
}


.more-stuff {
	text-align: center;
	margin: auto;
	padding: 8% 0;
}

.more-stuff h1{
	color: var(--secondary-bg-color);
}

footer {
	box-sizing:border-box;
	background-color: var(--footer-color);
	padding: 6% 0;
	color: var(--secondary-font-color);
	text-align: center;
}

footer .logo {
	font-size: 4rem;
}

.footer-links {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.footer-links a {
	display: block;
	padding: 0 1rem;
	color: var(--secondary-font-color);
	border-right: 2px solid var(--secondary-font-color)
}

.footer-links a:last-child{
	border: none;
}

.footer-links a:hover {
	color: var(--link-hover)
}

/* Media Queries */

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* Phones */
@media screen and (max-width: 1000px) {
	body {
		font-size: 3rem;
		height: 100vh;
	}
	nav {
		justify-content: center;
		background-image: linear-gradient(rgb(32, 30, 32), rgb(32, 30, 32), rgba(2, 2, 2, 0));
	}
	.main-links{
		justify-content: center;
		flex-grow: 2;
	}
	.main-links a{
		padding: 14% 3%;
		color: var(--main-font-color);
	}
	.main-links a:hover {
		backdrop-filter: none;
		background-color: var(--nav-color);
		background-image: none;

	}
	.hero h1{
		font-size: 12rem;
	}

	.hero p {
		display: block;
		font-weight: 500;
		font-size: 5.3rem;
		width: 100%;
	}
	
	.hero-content {
		margin: auto;
		width: 100%;
	}

	.hero-links {
		justify-content: center;
		font-size: 3rem;
	}

	.hero {
		background-image: radial-gradient(circle,rgba(109, 69, 96, 0.9), rgba(30, 34, 70, 0.9)), url("assets/IMG_20221208_074608_330.jpg");
		text-align: center;
		padding: 25% 5% 5%;
	}

	.more-stuff{
		background-image: radial-gradient(circle, #4d0446, var(--main-bg-color));
		padding: 24% 0;
	}
}
