@use 'sass:color';
@import "../css/style.css";
@import '../css/theme';

.theme-options {
	display: grid;
	// grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	gap: 2em;
	// background-color: var(--tertiary-bg);
 	background-color: color-mix(in srgb, var(--tertiary-bg), transparent 70%);
	// background-color: rgba(var(--tertiary-bg), 0.5);
	padding: 2em;
	border-radius: 0rem;
	/* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */

	.theme-item {
		box-sizing: border-box;
		position: relative;
		color: var(--primary-color);
		font-size: 1.5em;
		user-select: none;
		background-color: var(--primary-bg);
		position: relative;
		padding: 2rem;
		padding-right: 3rem;

		text-decoration: var(--primary-accent) 2px underline;
		text-underline-offset: .25em;

		--middle: 70%;
		--right: 95%;

		background: linear-gradient(
			45deg,
			var(--primary-bg) var(--middle),
			var(--secondary-bg) var(--middle),
			var(--secondary-bg) var(--right),
			var(--tertiary-bg) var(--right)
		);


		&.active {
			border: 3px outset var(--primary-accent);
			box-shadow: 0 0 15px color-mix(in srgb, transparent 80%, var(--secondary-bg));
		} 
	}
}