*:root {
	--element-width: 70%
}

[data-theme="main"] {
	--main: #160C28;
	--main2: #EFCB68;
	--main3:#AEB7B3;
	--accent: #E1EFE6;
	--main-font: Poppins;
	--secondary-font: Cinzel;
	/* --nav-text-hover:rgb(169, 184, 231);
	--navborder: #311e417c;
	--navhover: #373869;
	--link: rgb(41, 25, 48);
	--subtle-shadow: rgba(53, 43, 54, 0.274); */

}
  
[data-theme="dark"] {
	--main: rgb(10, 9, 10);
	--main2: rgb(30, 32, 32);
	--main3:#3f3e41;
	--mainlight: rgb(218, 118, 118);
	--hicon: rgb(192, 189, 189);
	--hicon-op:rgba(53, 49, 49, 0.8);
	--navbar: #545258;
	--nav-text: black;
	--nav-text-hover:rgb(169, 184, 231);
	--navborder: #332d387c;
	--navhover: #3f3944;
	--link: rgb(41, 25, 48);
}
[data-theme="xmas"] {
	--main: #94161e;
	--main2: #226F54;
	--main3:#91021B;
	--mainlight: rgb(218, 118, 118);
	--hicon: rgb(192, 189, 189);
	--hicon-op:rgba(53, 49, 49, 0.8);
	--navbar: var(--main2);
	--nav-text: black;
	--nav-text-hover:rgb(169, 184, 231);
	--navborder: #332d387c;
	--navhover: #3f3944;
	--link: rgb(41, 25, 48);

}
  
body {
	background-color: var(--main);
	font-family: var(--main-font);
	color: var(--hicon);
	font-size: 40px;
	margin: auto;
	padding: 0;
	width: 90%;
	overflow: scroll;
}

.mini-underline {
	border-width: 0 0 2px;
	border-color: var(--hicon);
	border-style: solid;
	padding-bottom: 2.5% ;
}

header {
	font-size: 60px;
	display: flex;
	padding: 4px;
	border-radius: 10%;
	text-align: center;
	background-color: var(--main2);
	font-family: var(--secondary-font), serif;
	
}
header > * {
	padding: 3rem 2rem;
}
.header-logo {
	color:var(--hicon);
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
}

.header-text {
	flex-grow: 1;
	background-color: transparent
}


.mainbody-text {
	font-family: var(--main-font);
	color: var(--hicon);
	background-color: var(--main3);
	text-decoration: none;
	padding: 8rem;
	margin: 1rem;
	border-width: 5px;
	border-color: var(--main1);
	border-radius: 5px;
	border-style: solid none
}

h2{
	display:block;
	font-size: 50%;
	background-color: var(--main2);
	margin: auto;
	border-style: none;
	height: auto;
	box-sizing: border-box;
	width: var(--element-width);
	text-align: center;
}

.link {
	color: var(--link);
	background-color: transparent;
}



nav {
	visibility: hidden;
	height: 1%;
	z-index: 98;
	position: sticky;
	top: 0;
	margin: 1% 0% 3%;
	padding: 0;
	overflow: hidden;
	background-color: var(--navbar);
}
nav :first-child {
	list-style-type: none;
	float: left;
  	color: var(--hicon);
}

nav :last-child{
	border-right: none;
}
nav a {
	list-style-type: none;
	border-right: 1px solid var(--navborder);
	float: left;
  	color: var(--hicon);
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 14px; 
}
nav a:hover {
	z-index: -2;
	color: var(--nav-text-hover);
	background-color: var(--navhover);
}

.options :hover {
	color: rgba(151, 58, 58, 0.7);
	cursor: pointer;
}
#theme-button {
	display:block;
	font-size: 50%;
	background-color: var(--main2);
	width:var(--element-width);
	margin-right: 15%;
	margin-left: 15%;
	margin-bottom: 5px;
	height: 50px;
	padding: 4px;
	border-style: none;
}
.theme-options {
	padding-left: 15%;
	padding-right: auto;
	height: auto;
	display: block;
	margin: auto;
}
.modal {
	background-color: var(--hicon-op);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	padding:auto;
	/* padding-top: 40vmin; */
	display: none;
}
.modal-content {
	background-color: var(--main);
	margin: auto;
	height: max-content;
	padding: 20px;
	padding-left: 1px;
	width: 40%;
}

.close {
	border-width: 13px;
	font-size: 50px;
	margin-top:0px;
	float: right;
	margin-right: 14px;
}
.close:hover,focus {
	color: rgb(0,0,0,0.3);
	cursor: pointer;
}


.highlight {
	background-color: var(--highlight);
}


@keyframes spin {
	0% {
		rotate: 0deg; height: 100%; width: 100%
	}
	30%{
		height: 80%;
		width: 80%;
		rotate: -30deg;
	}
	50% {
		height: 180%;
		width: 180%;
		opacity: 50%;
	}

	80% {
		rotate: 390deg;
	}
	100% {
		rotate: 360deg
	}
}


@keyframes grow{
	0%	{
		height: 100%; width: 100%
	}
	50% {
		height: 700%; width: 700%;
	}
	100% {height: 100%; width: 100%;}
}


/* gallery stuff */
.gallery {
	margin: 5% auto 5%;
	display: flex;
	place-items: center;
	gap: 2%;
	width: var(--element-width);
	height: max-content;
	padding: 5%;
	box-sizing: content-box;
	border-color: var(--main3);
	border-width: 3px;
	border-radius: 5px;
	border-style: solid none
}
  
.gallery div {
	width: 100%;
	height: 100%;
	opacity: 60%;
	transition: width 0.4s, height 0.4s, opacity 1s;
	transition-timing-function: ease-out;
}

.gallery div:hover{
	/* animation: spin 4s 1;
	animation-timing-function: ease-in-out */
	width: 105%; height: 105%; opacity: 1;
	
}

.gallery img {
	object-fit: contain;
	flex-grow: 0;
	max-width: 100%;
	max-height: 100%;
}

