@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4");
@import url("https://fonts.googleapis.com/css2?family=Quicksand");
@import url("https://fonts.googleapis.com/css2?family=Cardo");
@import url("https://fonts.googleapis.com/css2?family=Spectral");
@import url("https://fonts.googleapis.com/css2?family=Jost");
@import url("https://fonts.googleapis.com/css2?family=Bellefair");
.theme-light {
  --primary-color: #0a4254;
  --primary-bg: #f0eded;
  --primary-accent: #b5dce7;
  --tertiary-color: var(--primary-bg);
  --tertiary-bg: var(--primary-color);
  --tertiary-accent: #3fa7a7;
  --secondary-color: #344575;
  --secondary-bg: #e1e6e6;
  --secondary-accent: rgb(132, 165, 214);
}

.theme-dark {
  --primary-color: #e4e6e7;
  --primary-bg: #212729;
  --primary-accent: #317486;
  --secondary-color: white;
  --secondary-bg: #12181c;
  --secondary-accent: #408b8b;
  --tertiary-color: #5c7a8a;
  --tertiary-bg: #c6d1d1;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent)) ;
}

.theme-raspberry {
  --primary-color: #dbd2d4;
  --primary-bg: #19030b;
  --primary-accent: #d32274;
  --secondary-color: #white;
  --secondary-bg: #4d1126;
  --secondary-accent: #ea799f;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #c1638283;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent)) ;
}

.theme-cherry-blossom {
  --primary-color: #212729;
  --primary-bg: #fff;
  --primary-accent: hotpink;
  --secondary-color: #511b36;
  --secondary-bg: #f8d9e9;
  --secondary-accent: hotpink;
  --tertiary-color: white;
  --tertiary-bg: #ca9dbc;
  --tertiary-accent: rgb(255, 178, 216);
}

.theme-sepia {
  --primary-color: #482005;
  --primary-bg: #f0e8e0;
  --primary-bg: #eee0cb;
  --primary-accent: rgb(192, 130, 106);
  --secondary-color: white;
  --secondary-bg: #b38877;
  --secondary-bg: color-mix(in srgb, #c2847a, var(--primary-bg));
  --secondary-accent: #833112;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #bdb19f;
  --tertiary-bg: #baa898;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
}

.theme-jest {
  --primary-color: #750b4c;
  --primary-bg: #ffe8f3;
  --primary-accent: rgb(238, 170, 204);
  --secondary-color: #fff;
  --secondary-bg: #475d43;
  --secondary-accent: rgb(197, 234, 197);
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #a2ad917d;
  --tertiary-accent: color-mix(in srgb, var(--secondary-color), var(--secondary-accent));
}

.theme-emerald {
  --primary-color: #7cbd97;
  --primary-bg: #10351c;
  --primary-accent: rgb(170, 238, 191);
  --secondary-color: #fff;
  --secondary-bg: #071f0e;
  --secondary-accent: rgb(113, 207, 113);
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #a2ad917d;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
}

.theme-grape {
  --primary-color: #303085;
  --primary-bg: #b7b7d6;
  --primary-accent: rgb(145, 97, 204);
  --secondary-color: #fff;
  --secondary-bg: #6c4879;
  --secondary-accent: #ab7eeb;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #6a48797b;
  --tertiary-accent: #dcc8ff;
}

.theme-space {
  --primary-color: #f6f6ff;
  --primary-bg: #1a1147;
  --primary-accent: rgb(82, 69, 140);
  --secondary-color: #fff;
  --secondary-bg: #06062a;
  --secondary-accent: #7e94eb;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #3a324c7b;
  --tertiary-accent: #dcc8ff;
}

.theme-options {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 2em;
  padding: 2em;
  border-radius: 0rem;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
}
.theme-options .theme-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  color: var(--primary-color);
  font-size: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--primary-bg);
  position: relative;
  padding: 2rem;
  padding-right: 3rem;
  -webkit-text-decoration: var(--primary-accent) 2px underline;
          text-decoration: var(--primary-accent) 2px underline;
  text-underline-offset: 0.25em;
  --middle: 70%;
  --right: 95%;
  background: linear-gradient(45deg, var(--primary-bg) var(--middle), var(--secondary-bg) var(--middle), var(--secondary-bg) var(--right), var(--tertiary-bg) var(--right));
}
.theme-options .theme-item.active {
  border: 3px outset var(--primary-accent);
  -webkit-box-shadow: 0 0 15px color-mix(in srgb, transparent 80%, var(--secondary-bg));
          box-shadow: 0 0 15px color-mix(in srgb, transparent 80%, var(--secondary-bg));
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:root {
  --nav-width: 15vw;
  --primary-font: spectral, "Cardo";
  --sans-font: jost, "quicksand", "Julius sans one", "Jura", "Bricolage Grotesque";
  --header-font: "Spectral", "Playfair Display", "Julius sans one";
  --logo-font: Bellefair, "Playfair display";
  --main-font-size: 18px;
  font-size: var(--main-font-size);
  /* to set rem */
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--primary-bg);
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 1rem;
  overflow: scroll;
  min-height: 100vh;
  height: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body a {
  color: var(--primary-color);
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-color);
}

.navbar {
  font-family: var(--sans-font);
  font-weight: 100;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: var(--nav-width);
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  text-wrap: pretty;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 3em 1.4em 3em 1.4em;
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
  /* underline effect */
  /* more nav stuff */
}
.navbar * {
  display: block;
  line-height: 2;
  letter-spacing: 0.1em;
}
.navbar .navbar-item.navbar-logo {
  font-size: 2.4rem;
  font-family: var(--logo-font);
  font-weight: 100;
  text-transform: capitalize;
  margin-block: 2rem;
  line-height: 1.4;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.navbar .navbar-item.navbar-logo::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--secondary-accent);
  display: block;
  margin: auto;
}
.navbar a,
.navbar #blog-button {
  text-decoration: none;
  color: inherit;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-wrap: pretty;
}
.navbar .navbar-item {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent)), -webkit-gradient(linear, left top, right top, from(color-mix(in srgb, var(--secondary-accent), var(--primary-bg))), to(var(--secondary-accent)));
  background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, color-mix(in srgb, var(--secondary-accent), var(--primary-bg)), var(--secondary-accent));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  opacity: 0.75;
  -webkit-transition-property: opacity, background-position;
  transition-property: opacity, background-position;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  margin-block: 0.3em;
}
.navbar a,
.navbar #blog-button {
  font-weight: 800;
}
.navbar a:not(.navbar-logo):hover {
  background-size: 0 3px, 100% 3px;
  opacity: 1;
}
.navbar li a {
  margin-left: 1em;
}
.navbar a#home-link {
  letter-spacing: 0.2em;
  font-size: 1.3em;
  font-weight: 800;
  opacity: unset;
}
.navbar a.active {
  color: var(--secondary-accent);
  opacity: 1;
}

.mainbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100vw - var(--nav-width));
  margin-right: 0;
  margin-left: auto;
}
.mainbody > h1 {
  padding-inline: 2rem;
}
.mainbody h1, .mainbody h2, .mainbody h3, .mainbody h4, .mainbody h5, .mainbody h6 {
  margin-block: 0.15rem;
}
.mainbody ul {
  margin-block: 0.2rem;
}
.mainbody main {
  padding: 3rem;
  overflow-y: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  grid-column: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}
.mainbody .content {
  padding-top: 2em;
}
.mainbody .footer {
  display: block;
  width: 100%;
  padding-block: 0.3rem;
}
.mainbody .footer p {
  display: block;
  width: 50%;
  margin: auto;
}

.tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.tag-list .tag {
  background-color: color-mix(in oklab, var(--primary-accent), transparent 70%);
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 2rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.post-list {
  font-size: 0.8rem;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.post-list .post-list-item {
  --tertiary-low-op: color-mix(in oklab, var(--tertiary-bg), transparent 5%);
  display: block;
  background-color: color-mix(in srgb, var(--secondary-bg), transparent 20%);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}
.post-list .post-list-item a {
  color: var(--secondary-color);
}
.post-list .post-list-item .title {
  margin-block: 0;
  opacity: 0.8;
  font-family: var(--sans-font);
  text-transform: uppercase;
  font-size: 1.15rem;
  width: 60%;
  text-wrap: pretty;
}
.post-list .post-list-item .preview {
  background-color: var(--tertiary-low-op);
  background-color: var(--primary-bg);
  color: var(--tertiary-color);
  color: var(--primary-color);
  opacity: 0.8;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-inline: 1rem;
  padding-block: 1rem;
  -webkit-padding-before: 0.6rem;
          padding-block-start: 0.6rem;
  -webkit-margin-after: 1.3rem;
          margin-block-end: 1.3rem;
  -webkit-margin-before: 0.7rem;
          margin-block-start: 0.7rem;
  font-size: 0.9rem;
}
.post-list .post-list-item .preview > h1, .post-list .post-list-item .preview > p {
  margin-block: 0;
}
.post-list .post-list-item .preview h1, .post-list .post-list-item .preview h2, .post-list .post-list-item .preview h3, .post-list .post-list-item .preview h4, .post-list .post-list-item .preview h5, .post-list .post-list-item .preview h6 {
  font-size: 1.1rem;
}
.post-list .post-list-item .preview .more-link {
  color: var(--tertiary-color);
  color: var(--primary-color);
  -webkit-text-decoration: underline 2px color-mix(in srgb, var(--tertiary-accent), var(--tertiary-color));
          text-decoration: underline 2px color-mix(in srgb, var(--tertiary-accent), var(--tertiary-color));
  -webkit-text-decoration: underline 2px color-mix(in srgb, var(--primary-accent), var(--primary-color));
          text-decoration: underline 2px color-mix(in srgb, var(--primary-accent), var(--primary-color));
}
.post-list .post-list-item .tag {
  background-color: var(--tertiary-low-op);
  background-color: var(--primary-bg);
  color: var(--tertiary-color);
  color: var(--primary-color);
}
.post-list a {
  text-decoration: none;
}
.post-list .section-name-headers a {
  -webkit-text-decoration: underline solid 2px var(--secondary-accent);
          text-decoration: underline solid 2px var(--secondary-accent);
}
.post-list .content.shortened {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5em;
}

.mainbody .content blockquote {
  margin-inline: 0;
  -webkit-border-start: 2px var(--secondary-accent) solid;
          border-inline-start: 2px var(--secondary-accent) solid;
  -webkit-padding-start: 1.4em;
          padding-inline-start: 1.4em;
  -webkit-margin-start: 0.4em;
          margin-inline-start: 0.4em;
}

.TEX-A:is(.mjx-c25FB, .mjx-c25FC) {
  --special-color: color-mix(in srgb, var(--primary-accent), var(--primary-color) 70%);
  color: var(--special-color);
  font-weight: 1000;
}

.rating {
  color: color-mix(in srgb, var(--primary-accent), var(--primary-color));
}

@media (max-width: 768px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: unset;
    width: 100vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: red;
  }
  .navbar .navbar-item.navbar-logo {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */