@use 'theme';
@use 'settings';

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Cardo');
@import url('https://fonts.googleapis.com/css2?family=Spectral');
@import url('https://fonts.googleapis.com/css2?family=Jost');
@import url('https://fonts.googleapis.com/css2?family=Bellefair');

* {
	box-sizing: border-box;
}


*:root {
	--nav-width: 15vw;
	--primary-font: spectral, 'Cardo';
	--sans-font: jost, "quicksand", "Julius sans one", "Jura", "Bricolage Grotesque";
	--header-font: "Spectral", "Playfair Display", "Julius sans one";
	--logo-font: Bellefair, 'Playfair display';
	--main-font-size: 18px;
	font-size: var(--main-font-size);
	/* to set rem */
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: var(--primary-bg);
	font-family: var(--primary-font);
	color: var(--primary-color);
	font-size: 1rem;
	overflow: scroll;
	min-height: 100vh;
	height: 100;

	display: flex;
	flex-direction: row;

	a {
		color: var(--primary-color)
	}
}


@mixin body-theme {
	background-color: var(--primary-bg);
	color: var(--primary-color);
}


body {
	@include body-theme();
}

.navbar {
	font-family: var(--sans-font);
	font-weight: 100;
	text-transform: uppercase;

	box-sizing: border-box;
	width: var(--nav-width);
	min-width: min-content;
	text-wrap: pretty;

	display: flex;
	flex-direction: column;
	
	position: sticky;
	top: 0;
	height: 100vh;
	padding: 3em 1.4em 3em 1.4em;

	background-color: var(--secondary-bg);
	color: var(--secondary-color);
	

	* {
		display: block;

		line-height: 2;
		letter-spacing: 0.1em;
	}

	
	.navbar-item.navbar-logo {
		font-size: 2.4rem;
		font-family: var(--logo-font);
		font-weight: 100;
		text-transform: capitalize;
		margin-block: 2rem;
		line-height: 1.4;
		width: min-content;

		&::after {
			content: '';
			width: 70%;
			height: 2px;
			background-color: var(--secondary-accent);
			display: block;
			margin: auto;
		}
	}

	a,
	#blog-button {
		text-decoration: none;
		color: inherit;
		width: max-content;
		text-wrap: pretty
	}

	/* underline effect */
	.navbar-item {
		background:
			linear-gradient(to right,
				transparent,
				transparent),
			linear-gradient(to right,
				color-mix(in srgb, var(--secondary-accent), var(--primary-bg)),
				var(--secondary-accent));
		background-size: 100% 3px, 0 3px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		opacity: 0.75;
		transition-property: opacity, background-position;
		transition: 200ms ease-in-out;

		margin-block: .3em;
	}

	a,
	#blog-button {
		font-weight: 800;
	}

	a:not(.navbar-logo):hover {
		background-size: 0 3px, 100% 3px;
		opacity: 1;
	}

	/* more nav stuff */
	li a {
		margin-left: 1em
	}

	a#home-link {
		letter-spacing: 0.2em;
		font-size: 1.3em;
		font-weight: 800;
		opacity: unset;
	}

	a.active {
		color: var(--secondary-accent);
		opacity: 1;
	}

}

.mainbody {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	width: calc(100vw - var(--nav-width));
	margin-right: 0;
	margin-left: auto;
	

	>h1 {
		padding-inline: 2rem;
	}

	main {
		padding: 3rem;
		overflow-y: auto;
		height: max-content;
		grid-column: 2;
		box-sizing: border-box;
		width: 100%;
		min-height: 100vh;
	}

	.footer {
		display: block;
		width: 100%;
		padding-block: .3rem;

		p {
			display: block;
			width: 50%;
			margin: auto;
		}
	}
}

.tag-list {
	display: flex;
	gap: .5rem;

	.tag {
		background-color: color-mix(in oklab, var(--primary-accent), transparent 70%);
		padding: .5rem;
		font-size: .8rem;
		border-radius: 2rem;
		display: block;
		width: fit-content
	}
}

// a:has(.tag) {
// 	text-decoration: none;
// }

.post-list {
	font-size: 0.8rem;
	display: block;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	

	.post-list-item {
		--tertiary-low-op: color-mix(in oklab, var(--tertiary-bg), transparent 5%);

		display: block;
		background-color: color-mix(in srgb, var(--secondary-bg), transparent 20%);
		padding-block: 0.5rem;
		padding-inline: 1rem;
		padding-block: 1rem;
		margin-bottom: 2rem;

		color: var(--secondary-color);
		
		a {
			color: var(--secondary-color);
		}

		.title {
			margin-block: 0;
			opacity: 0.8;
			font-family: var(--sans-font);
			text-transform: uppercase;
			font-size: 1.15rem;
			width: 60%;
			text-wrap: pretty;
		}

		.preview {
			background-color: var(--tertiary-low-op);
			background-color: var(--primary-bg);
			color: var(--tertiary-color);
			color: var(--primary-color);
			opacity: 0.8;

			height: max-content;
			padding-inline: 1rem;
			padding-block: 1rem;
			padding-block-start: .6rem;

			margin-block-end: 1.3rem;
			margin-block-start: 0.7rem;

			font-size: 0.9rem;



			>h1, >p {
				margin-block: 0;
			}

			h1, h2, h3, h4, h5, h6 {
				font-size: 1.1rem;
			}

			.more-link {
				color: var(--tertiary-color);
				color: var(--primary-color);
				text-decoration: underline 2px color-mix(in srgb, var(--tertiary-accent), var(--tertiary-color));
				text-decoration: underline 2px color-mix(in srgb, var(--primary-accent), var(--primary-color));
			}
		}

		.tag {
			background-color: var(--tertiary-low-op);
			background-color: var(--primary-bg);
			color: var(--tertiary-color);
			color: var(--primary-color);
		}
	}

	a {
		text-decoration: none;
	}

	.section-name-headers {
		a {
			text-decoration: underline solid 2px var(--secondary-accent);
		}
	}

	.content {
		&.shortened {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 5em;
		}
	}
}

// Page Content
.mainbody {
.content {
	// background-color: red;
	blockquote {
		margin-inline: 0;
		border-inline-start: 2px var(--secondary-accent) solid;
		padding-inline-start: 1.4em;
		margin-inline-start: .4em;
	}
}
}

// Maths
.TEX-A:is(.mjx-c25FB, .mjx-c25FC) {
	--special-color: color-mix(in srgb, var(--primary-accent), var(--primary-color) 70%);
	color: var(--special-color);
	font-weight: 1000;
	// background-color: var(--special-color);
}