* {margin:0;padding:0px}

[data-theme = "main"] {
	--main: rgb(3, 19, 33);
	--secondary: rgb(26, 57, 68);
	--text-color: rgb(193, 212, 233);
	--hover: var(--secondary);
	--light-text: rgb(199, 192, 246);
	--dark-text: black;
	
}

[data-theme = "secondary"] {
	--main: rgb(120, 159, 192);
	--secondary: rgb(223, 17, 13);
}


body {
	background-color: var(--main);
	width: 90%;
	margin: auto;
	color: var(--text-color);
}

header {
	background-color: var(--secondary)
}

nav {
	margin-top: 5%;
	height: 1%;
}
nav ul {
	list-style-type: none;	
}
nav ul li{
	text-align: center;
	background-color:#ffbb09;
	width: 25%;
	float: left;
}
nav ul li a {
	display: block;
	color:white;
	padding:5%
}
nav ul li a:hover{
	color: var(--light-text);
	background-color: var(--hover);
	opacity: 0.2;
}

#modal {
	clear: both;
	display:none
}

#modal-button{
	margin-top: 20%;
	clear: both
}